* {
  margin-top: -5.5px;
  padding: 0;
  font-family: "M PLUS 1", "sans-serif";
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -3;
}
header .video-panel {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
header .promo {
  position: relative;
  z-index: 2;
}
header .promo nav.navbar .container-fluid {
  height: 2.5rem;
  font-weight: 500;
}
header .promo nav.navbar .container-fluid a.navbar-brand {
  width: 120px;
}
header .promo .charging {
  margin-top: 0.9px;
  width: 100%;
  height: 100vh;
}
header .promo section.info div.content {
  margin-top: 4rem;
  color: white;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 3rem;
}
header .promo section.info div.content p.modelo {
  font-size: 40px;
}
header .promo section.info div.content p.precio {
  font-size: 19px;
}
header .promo .botones-panel {
  margin-top: 40rem;
}
@media screen and (max-width: 1400px) {
  header .promo .botones-panel {
    margin-top: 200px;
    display: block;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  header .promo .botones-panel {
    margin-top: 480px;
    display: block;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 480px) and (max-width: 812px) {
  header .promo .botones-panel {
    margin-top: 420px;
    display: block;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  header .promo .botones-panel {
    margin-top: 150px;
    display: block;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 480px) {
  header .promo .botones-panel {
    margin-top: 100px;
    display: block;
    flex-wrap: wrap;
  }
}
header .promo .botones-panel .order {
  color: white;
  font-weight: 500;
  padding: 8px 90px 8px 90px;
  background-color: rgba(43, 43, 43, 0.555);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 5px;
  margin-right: 12px;
}
@media screen and (max-width: 1400px) {
  header .promo .botones-panel .order {
    margin-bottom: 20px;
    margin-left: 12px;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  header .promo .botones-panel .order {
    margin-bottom: 20px;
    margin-left: 12px;
    justify-content: center;
  }
}
@media all and (min-width: 480px) and (max-width: 812px) {
  header .promo .botones-panel .order {
    margin-bottom: 20px;
    margin-left: 12px;
    justify-content: center;
    padding: 8px 80px 8px 80px;
  }
}
header .promo .demo {
  color: black;
  font-weight: 500;
  padding: 8px 90px 8px 90px;
  background-color: rgb(243, 241, 241);
  border-radius: 5px;
  margin-left: 12px;
}
@media screen and (max-width: 1400px) {
  header .promo .demo {
    margin-bottom: 20px;
    margin-right: 12px;
    padding: 8px 80px 8px 80px;
  }
}
@media screen and (max-width: 1200px) {
  header .promo .demo {
    margin-bottom: 20px;
    margin-right: 12px;
  }
}
@media all and (min-width: 480px) and (max-width: 812px) {
  header .promo .demo {
    margin-bottom: 20px;
    margin-right: 12px;
    padding: 8px 80px 8px 80px;
  }
}
@media screen and (max-width: 1400px) {
  header .promo .tax {
    font-size: 13px;
  }
}
@media screen and (max-width: 1200px) {
  header .promo .tax {
    font-size: 13px;
  }
}
header .promo .consulta {
  margin-left: 20px;
  color: white;
  font-weight: 500;
  padding: 8px 40px 8px 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
}
header a:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.charging {
  width: 100%;
  height: 100%;
}

main .content {
  margin-top: 4rem;
  color: white;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 3rem;
}
main .content .modelo {
  font-size: 40px;
}
main .content .precio {
  font-size: 19px;
}
main .botones {
  margin-top: 30rem;
}
@media screen and (max-width: 1400px) {
  main .botones {
    margin-top: 200px;
    display: block;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  main .botones {
    margin-top: 480px;
    display: block;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 480px) and (max-width: 812px) {
  main .botones {
    margin-top: 420px;
    display: block;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  main .botones {
    margin-top: 150px;
    display: block;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 480px) {
  main .botones {
    margin-top: 100px;
    display: block;
    flex-wrap: wrap;
  }
}
main .botones .order {
  color: white;
  font-weight: 500;
  padding: 8px 90px 8px 90px;
  background-color: rgba(43, 43, 43, 0.555);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 5px;
  margin-right: 12px;
}
@media screen and (max-width: 1400px) {
  main .botones .order {
    margin-bottom: 20px;
    margin-left: 12px;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  main .botones .order {
    margin-bottom: 20px;
    margin-left: 12px;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media all and (min-width: 480px) and (max-width: 812px) {
  main .botones .order {
    margin-bottom: 20px;
    margin-left: 12px;
    justify-content: center;
    display: block;
    flex-wrap: wrap;
    padding: 3px 20px 3px 20px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  main .botones .order {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 12px;
    display: block;
    flex-wrap: wrap;
    padding: 3px 10px 3px 10px;
  }
}
@media all and (max-width: 480px) {
  main .botones .order {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 9px;
    display: block;
    flex-wrap: wrap;
    padding: 2px 8px 2px 8px;
  }
}
main .botones .demo {
  color: black;
  font-weight: 500;
  padding: 8px 90px 8px 90px;
  background-color: rgb(243, 241, 241);
  border-radius: 5px;
  margin-left: 12px;
}
@media screen and (max-width: 1400px) {
  main .botones .demo {
    margin-bottom: 20px;
    margin-right: 12px;
    padding: 8px 80px 8px 80px;
  }
}
@media screen and (max-width: 1200px) {
  main .botones .demo {
    margin-bottom: 20px;
    margin-left: 12px;
    justify-content: center;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  main .botones .demo {
    margin-bottom: 20px;
    margin-right: 12px;
    padding: 8px 80px 8px 80px;
  }
}
main .botones a:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
main section.interior {
  position: relative;
  background-color: black;
  z-index: -2;
}
main section.interior div.imagen_interior {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-top: 80px;
}
main section.interior div.imagen_interior .imagen_interior img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
main section.interior div.imagen_interior h1 {
  padding-top: 10px;
  color: white;
}
main section.cinematic {
  position: relative;
  background-color: black;
  z-index: -2;
}
main section.cinematic div.cinematica-descripcion {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding-top: 60px;
  color: white;
}
main section.cinematic div.cinematica-descripcion video {
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: auto;
}
main section.cinematic div.cinematica-descripcion p.description-cinematica {
  width: 30%;
}
main img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -3;
  max-width: 100%;
  height: auto;
}
main .contenedor_promo .promo_shop {
  margin-bottom: 8%;
}
@media screen and (max-width: 1400px) {
  main .contenedor_promo .promo_shop {
    margin-top: 350px;
    display: block;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  main .contenedor_promo .promo_shop {
    margin-top: 200px;
    display: block;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 480px) and (max-width: 812px) {
  main .contenedor_promo .promo_shop {
    margin-top: 5px;
    display: block;
    flex-wrap: wrap;
    font-size: 8px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  main .contenedor_promo .promo_shop {
    margin-top: 50px;
    display: block;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 480px) {
  main .contenedor_promo .promo_shop {
    margin-top: 20px;
    display: block;
    flex-wrap: wrap;
  }
}
main .contenedor_promo .promo_shop .info_promo {
  font-size: 45px;
  font-weight: 500;
}
main .contenedor_promo .promo_shop .info1_promo {
  margin-top: 28%;
}
@media screen and (max-width: 1400px) {
  main .contenedor_promo .promo_shop .info1_promo {
    font-size: 25px;
    margin-top: 200px;
  }
}
@media all and (min-width: 480px) and (max-width: 812px) {
  main .contenedor_promo .promo_shop .info1_promo {
    margin-top: 80px;
    font-size: 20px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  main .contenedor_promo .promo_shop .info1_promo {
    font-size: 20px;
  }
}
@media all and (max-width: 480px) {
  main .contenedor_promo .promo_shop .info1_promo {
    font-size: 12px;
    margin-top: 20px;
  }
}
main .contenedor_promo .promo_shop .info2_promo {
  font-size: 30px;
  margin-bottom: 2%;
}
@media screen and (max-width: 1400px) {
  main .contenedor_promo .promo_shop .info2_promo {
    font-size: 15px;
  }
}
@media all and (min-width: 480px) and (max-width: 812px) {
  main .contenedor_promo .promo_shop .info2_promo {
    font-size: 15px;
  }
}
@media all and (max-width: 480px) {
  main .contenedor_promo .promo_shop .info2_promo {
    font-size: 12px;
  }
}
main .boton_promo .boton-shop {
  color: black;
  font-weight: 500;
  padding: 8px 90px 8px 90px;
  background-color: rgb(243, 241, 241);
  border-radius: 5px;
  margin-left: 12px;
}
@media screen and (max-width: 1020px) {
  main .boton_promo .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 12px;
    padding: 3px 20px 3px 20px;
  }
}
@media all and (max-width: 480px) {
  main .boton_promo .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 9px;
    padding: 2px 8px 2px 8px;
  }
}
main .contenedor_imagenes .Productos {
  margin-top: 80px;
  margin-left: 30px;
  font-size: 35px;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  main .contenedor_imagenes .Productos {
    margin-top: 80px;
    margin-left: 30px;
    font-size: 35px;
    font-weight: 500;
  }
}
main .contenedor_imagenes .Productos .titulo_productos {
  margin-bottom: 80px;
}
@media screen and (max-width: 1400px) {
  main .contenedor_imagenes .Productos .titulo_productos {
    margin-top: 150px;
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 1200px) {
  main .contenedor_imagenes .Productos .titulo_productos {
    margin-top: 200px;
    margin-bottom: 90px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  main .contenedor_imagenes .Productos .titulo_productos {
    margin-top: 80px;
    margin-bottom: 90px;
  }
}
@media all and (max-width: 480px) {
  main .contenedor_imagenes .Productos .titulo_productos {
    margin-top: 80px;
    margin-bottom: 90px;
  }
}
main .contenedor_imagenes_charging {
  margin-left: 15%;
  margin-right: 15%;
}
main .contenedor_imagenes_charging .Productos {
  margin-top: 15%;
  font-size: 35px;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  main .contenedor_imagenes_charging .Productos {
    margin-top: 80px;
    margin-left: 30px;
    font-size: 35px;
    font-weight: 500;
  }
}
main .contenedor_imagenes_charging .Productos .titulo_productos {
  margin-bottom: 80px;
}
@media screen and (max-width: 1400px) {
  main .contenedor_imagenes_charging .Productos .titulo_productos {
    margin-top: 150px;
    margin-bottom: 90px;
  }
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}
@media screen and (max-width: 1020px) {
  main .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    font-size: 20px;
    font-weight: 500;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  main .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    font-size: 15px;
    font-weight: 500;
  }
}
@media all and (max-width: 480px) {
  main .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    font-size: 15px;
    font-weight: 500;
  }
}
main .grid-container .grid-item {
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s;
}
main .grid-container .grid-item img {
  width: 100%;
  height: auto;
}
main .grid-container .grid-item:hover {
  transform: scale(1.2);
}
main .contenedor-panel {
  display: flex;
  justify-content: space-between;
}
main .contenedor-panel .description-panel {
  width: 30%;
  margin: 8%;
}
main .contenedor-panel .video-panel {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
main video {
  width: 100%;
  height: 100vh;
  margin-bottom: 1%;
}
main .titulo-descripcion {
  font-weight: bold;
}

.contenedor_accesorios1 {
  position: relative;
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: 500;
}
.contenedor_accesorios1 .accesorios-descripcion1 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1020px) {
  .contenedor_accesorios1 .accesorios-descripcion1 {
    top: 70%;
    margin-bottom: -10px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  .contenedor_accesorios1 .accesorios-descripcion1 {
    top: 50%;
  }
}
@media all and (max-width: 480px) {
  .contenedor_accesorios1 .accesorios-descripcion1 {
    top: 50%;
  }
}
@media screen and (max-width: 1020px) {
  .contenedor_accesorios1 .accesorios-descripcion1 .accesorios-info1 {
    font-size: 25px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  .contenedor_accesorios1 .accesorios-descripcion1 .accesorios-info1 {
    font-size: 15px;
    margin-bottom: -20px;
  }
}
@media all and (max-width: 480px) {
  .contenedor_accesorios1 .accesorios-descripcion1 .accesorios-info1 {
    margin-bottom: -20px;
  }
}
.contenedor_accesorios1 .accesorios-descripcion1 .boton-shop {
  font-size: 15px;
  color: black;
  font-weight: 500;
  padding: 8px 90px 8px 90px;
  background-color: rgb(243, 241, 241);
  border-radius: 5px;
  margin-left: 12px;
}
@media screen and (max-width: 1020px) {
  .contenedor_accesorios1 .accesorios-descripcion1 .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 12px;
    padding: 3px 20px 3px 20px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  .contenedor_accesorios1 .accesorios-descripcion1 .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 12px;
    padding: 3px 10px 3px 10px;
  }
}
@media all and (max-width: 480px) {
  .contenedor_accesorios1 .accesorios-descripcion1 .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 9px;
    padding: 2px 8px 2px 8px;
  }
}

.contenedor_accesorios2 {
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  color: black;
}
.contenedor_accesorios2 .accesorios-descripcion2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1020px) {
  .contenedor_accesorios2 .accesorios-descripcion2 {
    top: 70%;
    margin-bottom: -10px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  .contenedor_accesorios2 .accesorios-descripcion2 {
    top: 50%;
  }
}
@media all and (max-width: 480px) {
  .contenedor_accesorios2 .accesorios-descripcion2 {
    top: 50%;
  }
}
@media screen and (max-width: 1020px) {
  .contenedor_accesorios2 .accesorios-descripcion2 .accesorios-info2 {
    font-size: 25px;
    margin-bottom: -20px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  .contenedor_accesorios2 .accesorios-descripcion2 .accesorios-info2 {
    font-size: 15px;
  }
}
@media all and (max-width: 480px) {
  .contenedor_accesorios2 .accesorios-descripcion2 .accesorios-info2 {
    margin-bottom: -20px;
  }
}
.contenedor_accesorios2 .accesorios-descripcion2 .boton-shop {
  font-size: 15px;
  color: black;
  font-weight: 500;
  padding: 8px 90px 8px 90px;
  background-color: rgb(243, 241, 241);
  border-radius: 5px;
  margin-left: 12px;
}
@media screen and (max-width: 1020px) {
  .contenedor_accesorios2 .accesorios-descripcion2 .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 12px;
    padding: 3px 20px 3px 20px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  .contenedor_accesorios2 .accesorios-descripcion2 .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 12px;
    padding: 3px 10px 3px 10px;
  }
}
@media all and (max-width: 480px) {
  .contenedor_accesorios2 .accesorios-descripcion2 .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 9px;
    padding: 2px 8px 2px 8px;
  }
}
.contenedor_accesorios2 .accesorios-descripcion2 .boton-shop-lifestyle {
  font-size: 15px;
  color: black;
  font-weight: 500;
  padding: 8px 90px 8px 90px;
  background-color: rgb(243, 241, 241);
  border-radius: 5px;
  margin-left: 12px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.contenedor_accesorios3 {
  position: relative;
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: 500;
}
.contenedor_accesorios3 .accesorios-descripcion3 {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media all and (min-width: 375px) and (max-width: 500px) {
  .contenedor_accesorios3 .accesorios-descripcion3 {
    top: 50%;
    margin-bottom: -20px;
  }
}
@media screen and (max-width: 1020px) {
  .contenedor_accesorios3 .accesorios-descripcion3 {
    top: 70%;
    margin-bottom: -10px;
  }
}
@media screen and (max-width: 1020px) {
  .contenedor_accesorios3 .accesorios-descripcion3 .accesorios-info3 {
    font-size: 25px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  .contenedor_accesorios3 .accesorios-descripcion3 .accesorios-info3 {
    font-size: 15px;
  }
}
@media all and (max-width: 480px) {
  .contenedor_accesorios3 .accesorios-descripcion3 .accesorios-info3 {
    margin-bottom: -20px;
  }
}
.contenedor_accesorios3 .accesorios-descripcion3 .boton-shop {
  font-size: 15px;
  color: black;
  font-weight: 500;
  padding: 8px 90px 8px 90px;
  background-color: rgb(243, 241, 241);
  border-radius: 5px;
  margin-left: 12px;
}
@media screen and (max-width: 1020px) {
  .contenedor_accesorios3 .accesorios-descripcion3 .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 12px;
    padding: 3px 20px 3px 20px;
  }
}
@media all and (min-width: 375px) and (max-width: 500px) {
  .contenedor_accesorios3 .accesorios-descripcion3 .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 12px;
    padding: 3px 10px 3px 10px;
  }
}
@media all and (max-width: 480px) {
  .contenedor_accesorios3 .accesorios-descripcion3 .boton-shop {
    margin-bottom: 20px;
    margin-right: 12px;
    font-size: 9px;
    padding: 2px 8px 2px 8px;
  }
}

.contenedor-instalacion video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}
.contenedor-instalacion p.titulo-instalacion {
  font-weight: bold;
  margin-top: 1%;
}
.contenedor-instalacion p.parrafo-instalacion {
  margin-bottom: 2%;
}
.contenedor-instalacion .descripcion-instalcion p {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}/*# sourceMappingURL=estilo.css.map */